{{- $text := .text -}}
{{- $url := .url -}}
{{- $style := .style | default "blue" -}}
{{- $hover := .hover | default "green" -}}
{{- $size := .size | default "standard" -}}

{{- $styleClasses := "" -}}
{{- $hoverClasses := "" -}}
{{- $sizeClasses := "" -}}

{{- if eq $style "blue" -}}
  {{- $styleClasses = "bg-primary border-primary text-white" -}}
{{- else if eq $style "green" -}}
  {{- $styleClasses = "bg-primary border-primary text-white" -}}
{{- else if eq $style "red" -}}
  {{- $styleClasses = "bg-danger border-danger text-white" -}}
{{- end -}}

{{- if eq $hover "blue" -}}
  {{- $hoverClasses = "hover:bg-primary-dark hover:border-primary-dark" -}}
{{- else if eq $hover "green" -}}
  {{- $hoverClasses = "hover:bg-primary-dark hover:border-primary-dark" -}}
{{- else if eq $hover "red" -}}
  {{- $hoverClasses = "hover:bg-danger-dark hover:border-danger-dark" -}}
{{- end -}}

{{- if eq $size "large" -}}
  {{- $sizeClasses = "py-2 px-5 md:py-3 md:px-6 text-xl md:text-3xl" -}}
{{- else if eq $size "xlarge" -}}
  {{- $sizeClasses = "py-2 px-5 md:py-3 md:px-6 text-2xl md:text-4xl" -}}
{{- else -}}
  {{- $sizeClasses = "py-2 px-5 text-base" -}}
{{- end -}}

<a href="{{ $url }}" class="inline-block font-semibold tracking-wide border align-middle duration-500 text-center {{ $styleClasses }} {{ $hoverClasses }} {{ $sizeClasses }} rounded-md mt-2">{{ $text }}</a>
