{{ define "main" }}
{{- $homeURL := partial "helpers/url.html" (dict "Root" $ "url" "/") -}}
{{ partial "error.html" (dict
    "page" .
    "header_image" .Params.background 
    "heading" .Params.heading
    "breadcrumb_home" .Params.breadcrumb_home
    "breadcrumb_current" .Params.breadcrumb_current
    "title" .Params.error_title
    "message" .Params.error_message
    "home_url" $homeURL
    "home_title" .Params.breadcrumb_home
    "home_text" .Params.button_home_text
    "support_url" (printf "%s#contact" $homeURL)
    "support_title" .Params.button_support_text
    "support_text" .Params.button_support_text
    "error_path" "/error/"
) }}
{{ end }}
