{{- $color := .color | default "blue" -}}
{{- $hoverColor := .hover_color | default "blue" -}}

{{- $class := "bg-primary hover:bg-primary-dark border-primary hover:border-primary-dark" -}}
{{- if eq $color "red" -}}
  {{- $class = "bg-danger hover:bg-danger-dark border-danger hover:border-danger-dark" -}}
{{- else if eq $color "yellow" -}}
  {{- $class = "bg-warning border-warning hover:bg-primary-dark hover:border-primary-dark" -}}
{{- else if or (eq $color "blue") (eq $color "green") -}}
  {{- if eq $hoverColor "red" -}}
    {{- $class = "bg-primary hover:bg-danger-dark border-primary hover:border-danger-dark" -}}
  {{- else -}}
    {{- $class = "bg-primary hover:bg-primary-dark border-primary hover:border-primary-dark" -}}
  {{- end -}}
{{- end -}}
{{- $class -}}