{{/* Context is a dict with isWritingSingle and needsPrism flags */}}
{{ $isWritingSingle := .isWritingSingle }}
{{ $needsPrism := .needsPrism }}

<link rel="stylesheet" href="/css/style.css" />
<!-- custom and rtl overrides -->
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/rtl.css" />


<link rel="stylesheet" href="{{ "/libs/bootstrap-icons/bootstrap-icons.min.css" | relURL }}">

{{/* Writing Styles - Only load for single writing posts */}}
{{ if $isWritingSingle }}
<link rel="stylesheet" href="/css/writing-styles.css" />
{{ end }}

{{/* Prism Code Highlighting - Only load for writing posts and ssh-public-keys page */}}
{{ if $needsPrism }}
<link rel="stylesheet" href="/css/prism.min.css" />
{{ end }}
