{{/* Context is a dict with isWritingSingle and needsPrism flags */}}
{{ $isWritingSingle := .isWritingSingle }}
{{ $needsPrism := .needsPrism }}

<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/fonts.css" />
<!-- custom overrides -->
<link rel="stylesheet" href="/css/custom.css" />

{{/* External CSS Libraries */}}
<link rel="preload" href="/libs/@iconscout/unicons/css/line.min.css" as="style" onload="this.rel='stylesheet'" />

{{/* Writing Styles - Only load for single writing posts */}}
{{ if $isWritingSingle }}
<link rel="stylesheet" href="/css/writing-styles.min.css" />
{{ end }}

{{/* Prism Code Highlighting - Only load for writing posts and ssh-public-keys page */}}
{{ if $needsPrism }}
<link rel="stylesheet" href="/css/prism.min.css" />
{{ end }}
