{{/* Preload fonts selected by the current language's theme-fonts setting. */}}
{{- $themeFonts := index .Language.Params "theme-fonts" | default (index .Site.Params "theme-fonts") | default "default" -}}

{{- if eq $themeFonts "default" -}}
  <link rel="preload" href="/fonts/latin/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/Nunito-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/Nunito-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "work-sans" -}}
  <link rel="preload" href="/fonts/latin/WorkSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/WorkSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/WorkSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "elegant" -}}
  <link rel="preload" href="/fonts/latin/WorkSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/EBGaramond-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/EBGaramond-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "kaushan-script" -}}
  <link rel="preload" href="/fonts/latin/WorkSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/KaushanScript-Regular.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "alex-brush" -}}
  <link rel="preload" href="/fonts/latin/WorkSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/AlexBrush-Regular.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "almarai" -}}
  <link rel="preload" href="/fonts/arabic/Almarai-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/Almarai-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/Almarai-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "cairo" -}}
  <link rel="preload" href="/fonts/arabic/Cairo-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/Cairo-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/Cairo-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "ibm-plex-sans-arabic" -}}
  <link rel="preload" href="/fonts/arabic/IBMPlexSansArabic-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/IBMPlexSansArabic-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/IBMPlexSansArabic-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "noto-kufi-arabic" -}}
  <link rel="preload" href="/fonts/arabic/NotoKufiArabic-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/NotoKufiArabic-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/NotoKufiArabic-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "noto-naskh-arabic" -}}
  <link rel="preload" href="/fonts/arabic/NotoNaskhArabic-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/NotoNaskhArabic-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/arabic/NotoNaskhArabic-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "aq-normal-sans" -}}
  <link rel="preload" href="/fonts/farsi-opensource/AQNormalSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/AQNormalSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/AQNormalSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "arad" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Arad-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Arad-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Arad-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "arad-dots-2" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Arad-RegularDots2.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Arad-SemiBoldDots2.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Arad-BoldDots2.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "arad-dots-3" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Arad-RegularDots3.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Arad-SemiBoldDots3.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Arad-BoldDots3.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "ario-dots-1" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Ario-Dots1.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "ario-dots-2" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Ario-Dots2.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "ario-dots-3" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Ario-Dots3.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "ario-dots-4" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Ario-Dots4.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "dast-nevis" -}}
  <link rel="preload" href="/fonts/farsi-opensource/DastNevis.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "gandom" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Gandom.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "nahid" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Nahid.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "parastoo" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Parastoo.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Parastoo-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "sahel" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Sahel.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Sahel-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Sahel-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "samim" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Samim.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Samim-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Samim-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "shabnam" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Shabnam.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Shabnam-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Shabnam-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "tanha" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Tanha.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "vazir-code" -}}
  <link rel="preload" href="/fonts/latin/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Vazir-Code.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "vazirmatn" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Vazirmatn-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Vazirmatn-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-opensource/Vazirmatn-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "yekan" -}}
  <link rel="preload" href="/fonts/farsi-opensource/Yekan.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "anjoman" -}}
  <link rel="preload" href="/fonts/farsi-licensable/Anjoman-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/Anjoman-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "iran-sans" -}}
  <link rel="preload" href="/fonts/farsi-licensable/IRANSans.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/IRANSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/IRANSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "iran-sans-x" -}}
  <link rel="preload" href="/fonts/farsi-licensable/IRANSansX-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/IRANSansX-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/IRANSansX-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "dana" -}}
  <link rel="preload" href="/fonts/farsi-licensable/dana-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/dana-demibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/dana-bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "iransharp" -}}
  <link rel="preload" href="/fonts/farsi-licensable/iransharp-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/iransharp-bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else if eq $themeFonts "iranyekan" -}}
  <link rel="preload" href="/fonts/farsi-licensable/iranyekan-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/iranyekan-medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/farsi-licensable/iranyekan-bold.woff2" as="font" type="font/woff2" crossorigin>
{{- else -}}
  <link rel="preload" href="/fonts/latin/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/Nunito-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/latin/Nunito-Bold.woff2" as="font" type="font/woff2" crossorigin>
{{- end -}}
