{{ $languages := slice
  (dict
    "code" "si"
    "name" "Slovenian"
    "nativeName" "Slovenščina"
    "description" "Slovenian language"
    "flag" "/images/si.svg"
    "enabled" true
  )
  (dict
    "code" "en"
    "name" "English"
    "nativeName" "English"
    "description" "English language"
    "flag" "/images/en.svg"
    "enabled" true
  )
  (dict
    "code" "de"
    "name" "German"
    "nativeName" "Deutsch"
    "description" "German language"
    "flag" "/images/de.svg"
    "enabled" true
  )
  (dict
    "code" "fa"
    "name" "Persian"
    "nativeName" "فارسی"
    "description" "Persian language"
    "flag" "/images/fa.svg"
    "enabled" true
  )  
}}

{{ $currentLang := .Site.Language.Lang }}

<div class="flex items-center space-x-4">
  {{ range $languages }}

    {{ $lang := .code }}

    {{ if eq $currentLang $lang }}

      <span
        class="block text-white"
        title="{{ .description }}"
      >
        <img
          class="h-[22px] border border-gray-100 shadow-xs"
          src="{{ .flag }}"
          alt="{{ .nativeName }}"
        />
      </span>

    {{ else }}

      {{ $url := "" }}

      {{ range $.AllTranslations }}
        {{ if eq .Lang $lang }}
          {{ $url = .RelPermalink }}
        {{ end }}
      {{ end }}

      {{ if ne $url "" }}
        <a
          class="block text-white shadow-xs hover:opacity-80"
          href="{{ $url }}"
          title="{{ .description }}"
        >
          <img
            class="h-[22px] border border-gray-100"
            src="{{ .flag }}"
            alt="{{ .nativeName }}"
          />
        </a>
      {{ else }}
        <span
          class="block text-white opacity-40"
          title="{{ .name }} (unavailable)"
        >
          <img
            class="h-[22px] border border-gray-100"
            src="{{ .flag }}"
            alt="{{ .nativeName }}"
          />
        </span>
      {{ end }}

    {{ end }}

  {{ end }}
</div>