{{ define "main" }}
{{- $homeURL := partial "helpers/url.html" (dict "Root" $ "url" "/") -}}
<script>
(function () {
    var path = window.location.pathname;
    var segments = path.split('/').filter(Boolean);
    var languageCodes = ['en', 'fa', 'ar'];
    var language = segments.length && languageCodes.indexOf(segments[0].toLowerCase()) !== -1
        ? segments[0].toLowerCase() : '';

    if (language && path !== '/' + language + '/404.html') {
        window.location.replace('/' + language + '/404.html');
    }
})();
</script>
{{ partial "error.html" (dict
    "page" .
    "header_image" (.Site.Params.background_404 | relURL)
    "heading" (i18n "404_hero_heading")
    "breadcrumb_home" (i18n "404_breadcrumb_home")
    "breadcrumb_current" "404"
    "title" ((i18n "404_main_heading") | safeHTML)
    "message" (i18n "404_main_paragraph")
    "home_url" $homeURL
    "home_title" (i18n "404_home_button_title")
    "home_text" (i18n "404_home_button_title")
) }}
{{ end }}
